.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove any margin */
  height: 8vh;
}

.bottom-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bottom-nav li {
  flex: 1;
  text-align: center;
}

.bottom-nav li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  display: block;
  padding: 15px 0; /* Adjust padding to cover full height */
}

.bottom-nav li.active a {
  background-color: rgba(141, 141, 141, 0.7); /* Pale light blue with 80% opacity */
  border-radius: 0; /* Remove border-radius */
  height: 100%; /* Extend to full height */
}

.bottom-nav li a:hover {
  background-color: #f0f0f0; /* Light grey on hover */
}

.bottom-nav li.active a:hover {
  background-color: rgba(107, 106, 106, 0.7); /* Pale light blue with 80% opacity */
}

.bottom-nav li a:active {
  background-color: #d0d0d0; /* Darker grey on click */
}