.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  display: flex;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  height: 8vh; /* Adjust height as necessary */
}

.bottom-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%; /* Make sure ul takes full height */
}

.bottom-nav li {
  flex: 1; /* Allow list items to grow */
  text-align: center;
  height: 100%; /* Ensure list items take full height */
}

.bottom-nav li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center icon horizontally */
  align-items: center; /* Center icon vertically */
  height: 100%; /* Fill the full height of li */
  padding: 0; /* Remove extra padding */
}

.bottom-nav li.active a {
  background-color: rgba(141, 141, 141, 0.7); /* Pale light blue with 70% opacity */
  border-radius: 0; /* Remove border-radius */
}

.bottom-nav li a:hover {
  background-color: #f0f0f0; /* Light grey on hover */
}

.bottom-nav li.active a:hover {
  background-color: rgba(107, 106, 106, 0.7); /* Pale light blue with 70% opacity */
}

.bottom-nav li a:active {
  background-color: #d0d0d0; /* Darker grey on click */
}