.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  display: flex;
  padding: 0; 
  margin: 0;
  height: 8vh;
}

.bottom-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.bottom-nav li {
  flex: 1;
  text-align: center;
  height: 100%;
}

.bottom-nav li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
}

.bottom-nav li.active a {
  background-color: rgba(141, 141, 141, 0.7);
  border-radius: 0;
}

.bottom-nav li a:hover {
  background-color: #f0f0f0;
}

.bottom-nav li.active a:hover {
  background-color: rgba(107, 106, 106, 0.7);
}

.bottom-nav li a:active {
  background-color: #d0d0d0;
}