.page-header {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100vw;
  height: 8vh;
  background-color: rgba(107, 106, 106, 0.7);
  display: flex;
  justify-content: center;
  align-items: center; 
  box-sizing: border-box; 
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.header-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; 
  opacity: 1;
}