/* General Styling */
body {
  font-family: 'Inter', sans-serif; /* Modern sans-serif font */
  background-color: #f9f9f9; /* Light background for contrast */
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100vw;
  background-color: #c3c4c4; /* Slightly off-white background */
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  padding: 0 4vw;
  padding-bottom: 9vh; /* Account for bottom navbar */
  padding-top: 9vh; /* Account for Header */
  box-sizing: border-box;
  overflow-y: auto;
}

/* Upload Button Styling */
.upload-shortcut {
  width: 92vw;
  background-color: #4CAF50; /* Modern green button */
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  color: white; /* Text color for contrast */
  font-weight: 600;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.40); /* Modern shadow */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  margin-bottom: 2vw;
}

.upload-shortcut:hover {
  background-color: #45a049; /* Darker green on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Stronger shadow on hover */
  transform: scale(1.015); /* Slightly enlarge the card */
}

.upload-shortcut:active {
  background-color: #39943b; /* Even darker on active */
}

/* Info Cards Styling */
.info {
  width: 92vw;
  background-color: white;
  border: none; /* No borders for a clean look */
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* Modern shadow */
  margin-bottom: 2vw;
  flex-grow: 1; /* Expands to fill space */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

/* Hover Effect */
.info:hover {
  transform: scale(1.015); /* Slightly enlarge the card */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); /* More prominent shadow */
}

/* Image Styling */
.meal-image {
  max-width: 50vh; /* Fully responsive */
  max-height: 50vh; /* Limit height based on viewport */
  object-fit: cover; /* Scale and crop */
  border-radius: 8px; /* Rounded corners */
}

/* Nutrition Info Styling */
.nutrition-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #333; /* Darker text for contrast */
  margin-top: 10px;
}

/* Headings */
h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #222; /* Dark gray for heading */
}

/* General Text Styling */
span, p {
  font-size: 16px;
  color: #555; /* Medium gray for general text */
}