PORT=5001
MONGO_URI=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NUTRITIONIX_APP_ID=
NUTRITIONIX_API_KEY=
EDAMAM_APP_ID=
EDAMAM_APP_KEY=
EDAMAM_RECIPE_APP_KEY=
EDAMAM_RECIPE_APP_ID=


